.App {
  text-align: center;
  background.color: gray;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Potta One', cursive;
  font-size: calc(20px + 4vmin);
  color: #CBF7ED;
}
